*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;
    /*background-color: #f8f8f8;*/
    /*font-family: 'Poppins', sans-serif;*/
    display: flex;
    min-height: 00vh;
    flex-direction: column;
}

.light-deca {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
}

main {
    flex: 1 0 auto;
}

nav ul a {
    color: black !important;
}

.brand-logo img {
    width: 60px;
    /* height: 70px; */
    margin-left: 0px;
}

@media screen and (min-width: 601px) {
    .brand-logo img {
        width: 67.5px;
        transform: translateY(2.5px);
    }
}

.menu-icon {
    color: #000;
}

.apply-button {
    text-transform: capitalize !important;
    border-radius: 15px !important;
}

.container {
    width: 98% !important;
}

.counter {
    font-size: 1.2em;
    color: #000;
    margin: 0px;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Initially move the counter down */
    transition: opacity 1s, transform 1s;
}

/* Customize the tab background color to navy blue */
.tabs .tab a {
    /*background-color: navy !important;*/
    color: #000 !important;
}

/* Customize the tab text to lowercase */
.tabs .tab a {
    text-transform: capitalize !important;
}

/* UTILITIES */
.mt {
    margin-top: 50px !important;
}

.mt-sm {
    margin-top: 25px !important;
}

.mt-xs {
    margin-top: 12.5px !important;
}

.mb {
    margin-bottom: 50px !important;
}

.mb-sm {
    margin-bottom: 25px !important;
}

.mb-xs {
    margin-bottom: 12.5px !important;
}

.aspect-1-1 {
    aspect-ratio: 1/1;
    object-fit: cover;
}
.aspect-1-2 {
    aspect-ratio: 1/2;
    object-fit: cover;
}
.aspect-2-1 {
    aspect-ratio: 2/1;
    object-fit: cover;
}
.aspect-2-3 {
    aspect-ratio: 2/3;
    object-fit: cover;
}
.aspect-3-1 {
    aspect-ratio: 3/1;
    object-fit: cover;
}
.aspect-3-2 {
    aspect-ratio: 3/2;
    object-fit: cover;
}
.aspect-3-4 {
    aspect-ratio: 3/4;
    object-fit: cover;
}
.aspect-4-3 {
    aspect-ratio: 4/3;
    object-fit: cover;
}
.aspect-4-5 {
    aspect-ratio: 4/5;
    object-fit: cover;
}
.aspect-16-9 {
    aspect-ratio: 16/9;
    object-fit: cover;
}
.h-5p {
    height: 5%;
}
.h-10p {
    height: 10%;
}
.h-20p {
    height: 20%;
}
.h-25p {
    height: 25%;
}
.h-50p {
    height: 50%;
}
.h-75p {
    height: 75%;
}
.h-100p {
    height: 100%;
}
.w-5p {
    width: 5%;
}
.w-10p {
    width: 10%;
}
.w-20p {
    width: 20%;
}
.w-25p {
    width: 25%;
}
.w-50p {
    width: 50%;
}
.w-75p {
    width: 75%;
}
.w-100p {
    width: 100%;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.content-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}

@media screen and (min-width: 990px) {
    .d-l-flex {
        display: flex;
    }
    .items-l-center {
        align-items: center;
    }
}

img {
    border-radius: 10px !important;
}

nav {
    position: relative !important;
    z-index: 900;
}

#segment {
    position: relative;
    top: 100vh;
    margin-bottom: 30%;
}

.nav-links li a {
    color: #000;
}

.nav-links li a {
    position: relative;
    color: #000;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.nav-links li a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #dc7b12;
    transition: width 0.3s;
}

.nav-links li a:hover:after {
    width: 100%;
}

.nav-links li a:hover {
    background-color: transparent;
    color: #9d9d9f;
}

.heading {
    margin-left: 10px;
}

.newsbody {
    text-align: justify;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slides {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slides li {
    position: relative;
}

.slides li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
    );
}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* You can adjust the text color */
}

.slider .slides li .caption {
    top: 35% !important;
    border: #dc7b12 solid 3px;
    border-radius: 2px;
    border-bottom: transparent !important;
    padding: 20px;
}

.edit-box {
    border-radius: 2px;
    border: #dc7b12 solid 2px;
    padding: 5px;
}

.edit-pencil {
    position: relative !important;
    z-index: 900;
}

/* EVENTS */
.event-card {
    border-radius: 8px;
    overflow: hidden;
    background: #fafafa;
    box-shadow: 2px 4px 16px rgba(55, 55, 55, 0.15);
}

.event-card__link {
    color: unset;
    display: inline;
}

.event-card__image {
    width: 100%;
    border-radius: 0 !important;
    object-fit: cover;
    object-position: center;
}

.event-card__content {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: -6px;
}

.event-card__date {
    text-align: center;
    background: #012f5b;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
}

.event-card__day {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
}

.event-card__month {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.event-card__details {
    padding: 8px;
    flex-grow: 1;
}

.event-card__title {
    font-size: 1.2rem;
    font-weight: bold;
}

.event-card__location {
    display: none;
}

@media screen and (min-width: 360px) {
    .event-card__title {
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #dadada;
    }

    .event-card__location {
        display: flex;
        column-gap: 2px;
    }
}

.event-card__location .material-icons {
    transform: translateY(4px);
}

.event-card__venue {
    font-size: 14px;
}

/* PAGINATION */
.active-pagination-link {
    border-radius: 100px !important;
    background: #012f5b !important;
}

/* BUTTONS */
.btn-disabled {
    background: gray;
    color: white;
}
